
.row{
    margin: 26px; /*margen alrededor de la imagen */
    font-size: 1.8rem;  
    text-align:center
    
}

.title{
    color: black;
    text-align: center;
    padding-top: 6px;
    font-weight: 600;
    text-shadow: 1px 1px rgb(147, 136, 128);
    margin-bottom: 15px;

}
.titulo{
    color: rgb(233, 93, 0);
    text-align: center;
    text-shadow: 2px 2px rgb(119, 52, 4);
    font-family: sans-serif

}

.fondo-personalizado{
    background-color: aliceblue;
}

.text{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.fondo-opaco{
background-image: url(img/hero_bg_0b22f506eb.webp);
width: 100%;
height: 1100px;
margin-bottom: 20px;
}
.background-image{
max-width: 100%;
max-height: 100%;
}

.imagen_logo{
width: 400px;
height: 100%;
}

.carousel-inner img {
  height: 700px; 
  object-fit: cover; /*no se apreta la img*/
}

.card-body{
    background-color:cornsilk;
  
    
}
.card-img-top {
    height: 500px;
    background-position: center;
    object-fit: cover; 
    width: 90%;
}
.card-body_2{
    background-color:cornsilk;
    border: 2px solid;
    
} 

.form{
      background-color: #ffdc68;
          border-radius: 30px;
}
.form {
    padding: 30px; /*espacio interno entre el borde del formulario y su contenido*/
    margin-top: 50px; /*espacio arriba del formulario*/
    margin: auto; /*centra el formulario horizontalmente*/
    margin-bottom: 15px; /*espacio abajo del formulario */
   

}
input {  
    width: 85%; /*ancho del input*/
    padding: 10px;  /*espacio interno entre el texto y el borde*/
    border-radius: 10px;  /*redondea las esquinas*/
    border: 1px solid #000000; 
    margin-bottom: 10px; /*separacion entre imputs*/
}

.boton {
    height: 50px; 
    width: 60%;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(233, 93, 0);
    border: 1px white;
    margin-bottom: 10px;
}
textarea{
    width: 88%;
    padding: 10px;   
    border-radius: 10px;  
    border: 1px solid #000000; 
    margin-bottom: 10px; 
}
   
.imagen_logo{
max-width: 30%;
}

.imagen_logo_2{
 max-width: 100%;
}